
# Created by https://www.toptal.com/developers/gitignore/api/scala,sbt,intellij
# Edit at https://www.toptal.com/developers/gitignore?templates=scala,sbt,intellij

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839


dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
.bsp
.idea

### Scala ###
*.class
*.log

# End of https://www.toptal.com/developers/gitignore/api/scala,sbt,intellij